@media screen and (max-width:1140px) {
    .content {
        flex-wrap: wrap;
        align-items: center;
        gap: 80px;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:992px) {
    .about__desc {
        flex-direction: column;
        align-items: center;
    }

    .section {
        align-items: center;
    }
}

@media screen and (max-width:880px) {
    .header__cont {
        flex-direction: column;
        display: flex;
        gap: 40px;
    }

    .banner {
        height: 600px;
    }

    .banner-h {
        font-size: 60px;
        line-height: 75px;
    }

    .banner-div {
        font-size: 30px;
        line-height: 35px;
    }

    .banner-a {
        font-style: 16px;
        line-height: 18px;
    }

    .about__h h2 {
        padding: 50px 0 30px;
    }

    .contacts h4 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contacts__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .contacts__text-p {
        align-items: center;
    }

    .footer__list {
        padding: 30px 22px 35px;
    }
}

@media screen and (max-width:430px) {
    .about__h h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .banner-h {
        font-size: 50px;
        line-height: 60px;
    }

    .banner-div {
        font-size: 25px;
        line-height: 35px;
    }

    .banner {
        height: 500px;
    }

    .banner-a {
        font-size: 16px;
        line-height: 18px;
        padding: 12px 60px;
    }
}